*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
  font-size: 12px;
  box-sizing: border-box
}

/* STATUS BAR & NAV */
.container {
  box-sizing: border-box;
  border: 1px solid #b3b3b3;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 375px;
  margin: 20px auto;
}
nav {
  color: #ffffff;
  box-sizing: border-box;
  height: 50px
  font-family: SF Pro Text;
  color: #000000;
  background-color: #ececec;
}
.top {
  float: left;
  width: 100%;
  z-index: 1;
}
.nav-left {
  float: left;
  width: 32%;
  height: 50px;
}
.time {
  float: center;
  width: 32%;
  height: 50px;
}
.nav-right {
  float: right;
  width: 32%;
  height: 50px;
}
.bottom {
  clear: both;
  width: 100%;
  z-index: 1;
}
.left-arrow {
  float: left;
  width: 33%;
}
.stop {
  float: center;
  width: 33%;
}
.right-arrow {
  float: right;
  width: 33%;
}



/* MAP */
.map {
  float: left;
  margin: 20px auto;
}

/* BUS BAR */
.bus-bar {
  float: left;
  width: 33%;
  height: 50px;
}
.bus {
  float: left;
  width: 50%;
  height: 50px;
}
.eta-freq {
  float: left;
  width: 50%;
  height: 50px;
}

/* EAST */
.bound {
  float: left;
  width: 50%;
  height: 50px;
}

ul, li {
  list-style-type: none;
  box-sizing: border-box;
  float: left;
  clear: both;
  display: block;
  padding: 10px;
  }

/* <div class="bound">
  <h3>Eastbound</h3>
  <ul>
    <li class="line">
      <h2>60</h2>
    </li>
    <li class="destination">
      <h2>Randolph/Harbor Dr</h2>
    </li>
    <li class="eta">
      <h2>0 min</h2>
    </li>
    <li class="freq">
      <h2>every 20 min</h2>
    </li>
  </ul>
  <ul>
    <li class="line">
      <h2>124</h2>
    </li>
    <li class="destination">
      <h2>Navy Pier</h2>
    </li>
    <li class="eta">
      <h2>4 min</h2>
    </li>
    <li class="freq">
      <h2>every 10 min</h2>
    </li>
  </ul>
</div>
*/




/* NORTH */
/* SOUTH */
/* REROUTE */
/* OUT OF SERVICE */
