*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
  font-family: sans-serif;
  font-size: 12px;
  box-sizing: border-box
}
.container {
  box-sizing: border-box;
  border: 1px solid #b3b3b3;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 375px;
  margin: 20px auto;
}
nav {
  color: #ffffff;
  box-sizing: border-box;
  height: 50px
  font-family: SF Pro Text;
  color: #000000;
  background-color: #ececec;
}

/*
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

*/



.map {
  float: left;
  margin: 20px auto;
}


.bus-list {
  padding-top: 43px;
  width: 100%;
}


.bus-bar {
  float: left;
  width: 33%;
  height: 50px;
}
.bus {
  float: left;
  width: 35%;
  height: 50px;
}
.eta-freq {
  float: left;
  width: 55%;
  height: 50px;
  text-align: right;
}



.header {
  background-color: #E5E5E5;
  margin: 1% 0;
  width: 100%;
  padding: 1px 1px;
  text-align: center;
}
.content {
  margin: .5% 0;
  width: 75%;
  padding: 20px;
  display: inline-block;
}
.location {
  background-color: #FFE787;
  margin: .5% 0;
  width: 100%;
  padding: 10px;
}
.location:hover {
  background-color: #FFE065;
}

.info-left h1 {
  font-size: 150%;
  color: #000000;
  font-weight: 550;
  width: 50%;
  float: left;
  display: inline-block;
  line-height: 18px;
}
.info-left h3 {
  font-size: 125%;
  color: #000000;
  font-weight: 500;
  display: inline-block;
  line-height: 18px;
  width: 50%;
  float: left;
}
.info-right h1 {
  font-size: 175%;
  color: #000000;
  line-height: 18px;
  font-weight: bold;
  width: 50%;
  float: right;
}
.info-right h3 {
  font-size: 125%;
  color: #000000;
  line-height: 18px;
  width: 50%;
  float: right;
}
.arrow {
  margin: 1% 0;
  width: 33%;
  padding: 5px 0px;
  display: inline-block;
}











/***************************
ul, li {
  list-style-type: none;
  box-sizing: border-box;
  float: left;
  clear: both;
  display: block;
  padding: 10px;
  }
****************************/







/* <div class="bound">
  <h3>Eastbound</h3>
  <ul>
    <li class="line">
      <h2>60</h2>
    </li>
    <li class="destination">
      <h2>Randolph/Harbor Dr</h2>
    </li>
    <li class="eta">
      <h2>0 min</h2>
    </li>
    <li class="freq">
      <h2>every 20 min</h2>
    </li>
  </ul>
  <ul>
    <li class="line">
      <h2>124</h2>
    </li>
    <li class="destination">
      <h2>Navy Pier</h2>
    </li>
    <li class="eta">
      <h2>4 min</h2>
    </li>
    <li class="freq">
      <h2>every 10 min</h2>
    </li>
  </ul>
</div>
*/
